.inputSearch {
  width: 100%;
  max-width: 250px;
  height: 49px;
  border-radius: 8px;
  background-color: #f0f3f4;
  border: none;

  input {
    background-color: #f0f3f4;
    margin-left: 8px;
  }
}
